.App {
  display: flex;
  justify-content: space-around;
  background-color: #37474f;
}
.carouseldiv {
  background-color: #37474f;
}

.popular {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.forms {
  border-radius: 10px;
  padding: 10px;
}
@media (min-width: 576px) {
  nav {
    align-items: center;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
