.App {
  display: flex;
  justify-content: space-around;
  background-color: #37474f;
}
.carouseldiv {
  background-color: #37474f;
}

.popular {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
